body {
	background-color: #360000;
}
.container {
	background-color: #360000;
}

.jumbotron {
	background-color:transparent;
	width:1050px;
	height:455px;
	padding:none;
}

.ticket {
	width:1000px;
	height:405px;
}